.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.fullwidth{
  width:100%;
}
.delete {
  margin-right: auto!important;
  line-height: inherit!important;
}

.centered-loading{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -32px;
  margin-top: -32px;
}

.collapsible-header.active {
  background-color: #87CECC;
}

.collapsible-body{
  background-color: #B0DCDC;
  color: #424242;
}

.addbutton{
 bottom: 10px;
 right: 10px;
}

.helpbutton{
 bottom: 10px;
 right: 75px;
}

footer{
  height: 75px;
}

.siulogo{
  width: 100%;
  height: auto;
  -webkit-filter: invert(70%);
  -ms-filter: invert(70%);
  filter: invert(70%);
}

.careerProgress{
  height: 20px;
}

.percentageNumber{
  color: white;
  font-weight: bold;
  width: 100%;
}

.angular-google-map-container {
  height: 15rem; 
}

.marker_labels{
  color:red;
}

.topprogress{
      position: absolute;
}