<div class="floatingButtons">

	<div class="fixed-action-btn addbutton">
		<a class="btn-floating btn-large red">
			<i class="large material-icons">add</i>
		</a>
		<ul>
			<li>
			<a href="#/examinscription" class="btn-floating green">
					<i class="material-icons">done</i>
				</a>
			</li>
			<li>
				<a href="#/subinscription" class="btn-floating blue" >
					<i class="material-icons">assignment</i>
				</a>
			</li>
		</ul>
	</div>


	<div class="fixed-action-btn helpbutton">
		<a class="btn-floating btn-small waves-effect waves-light modal-trigger" href="#helpmodal">
			<i class="small material-icons">help</i>
		</a>
	</div>


	<!-- Modal Structure -->
	<div id="helpmodal" class="modal bottom-sheet">
		<div class="modal-content">
			<ul class="collection">
				<li class="collection-item dismissable"><i class="material-icons left">done</i>Examen</li>
				<li class="collection-item dismissable"><i class="material-icons left">assignment</i>Cursada</li>
			</ul>
		</div>
		<div class="modal-footer">
			<a class=" modal-action modal-close waves-effect waves-green btn-flat">Entendido</a>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
	    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
	    $('.modal-trigger').leanModal();
	});

	var mywindow = $(window);
	var mypos = mywindow.scrollTop();
	mywindow.scroll(function() {
		if(mywindow.scrollTop() > mypos)
		{
			$('.floatingButtons').fadeOut();
		}
		else
		{
			$('.floatingButtons').fadeIn();
		}
		mypos = mywindow.scrollTop();
	});
</script>