<nav class="cyan darken-3">
	<a href="#" class="brand-logo center">SIU Guaran&iacute;</a>
	<div ng-show="userLoginKey != null && selectedCareer != null">
		<ul id="slide-out" class="side-nav fixed">
			<li class="logo "><img class="siulogo" src="./images/logosiu.png"></li>
			<li><a ng-href="#/careers" class="waves-effect waves-teal">Carreras</a></li>
			<li><a ng-href="#/inscriptions" class="waves-effect waves-teal">Inscripciones</a></li>
			<li><a ng-href="#/achistory" class="waves-effect waves-teal">Historia Acad&eacute;mica</a></li>
			<li><a ng-href="#/geoloc" class="waves-effect waves-teal">Busca compa&ntilde;eros</a></li>
			<li><a ng-href="#/logout" class="waves-effect waves-teal">Cerrar Sesi&oacute;n</a></li>
		</ul>
		<a href="#" data-activates="slide-out" class="button-collapse">
			<i class="mdi-navigation-menu"></i>
		</a>

		<script>
			$( document ).ready(function(){
				if(window.innerWidth <= 992){              
					jQuery(".button-collapse").sideNav({
						closeOnClick: true
					});
				}else{
					jQuery(".button-collapse").sideNav();
				}

			});
		</script>
	</div>
</nav>
