<h5 class="header center">Historia Acad&eacute;mica</h5>
<p class="center">Porcentaje de la carrera</p>
<div class="progress careerProgress">
	<div class="determinate valign-wrapper" style="width: {{acHistory.fullPercentage}}%">
		<span class="percentageNumber center-align">{{acHistory.fullPercentage | number : 0}}%</span>
	</div>
</div>
<ul class="collapsible">
	<li ng-repeat="subject in acHistory.subjects" class="modal-trigger" href="#{{subject.subjectRegularity.subject.id}}" ng-prepare-modal>
		<div class="collapsible-header truncate">
			<i class="material-icons" ng-show="!subject.exam">assignment</i>
			<i class="material-icons" ng-show="subject.exam">done</i>
			<span class="hideOverflowList">{{subject.subjectRegularity.subject.name}}</span>
		</div>
	</li>
</ul>

<!-- Modal Structure -->
<div ng-repeat="subject in acHistory.subjects" id="{{subject.subjectRegularity.subject.id}}" class="modal modal-fixed-footer">
	<div class="modal-content">
		<h4>{{subject.subjectRegularity.subject.name}} ({{subject.subjectRegularity.subject.id}})</h4>
		<p>Regularidad: {{subject.subjectRegularity.date}}</p>
		<p ng-show="subject.exam">Examen: {{subject.exam.date}}</p>
		<p ng-show="subject.exam">Nota: {{subject.exam.grade}}</p>
	</div>
	<div class="modal-footer">
		<a class=" modal-action modal-close waves-effect waves-green btn-flat">Listo</a>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$('ul.tabs').tabs();
	});
</script>
