  <h5 class="header center">Carreras</h5>

  <div class="row">
  	<div ng-repeat="careerInscription in careerInscriptions" class="col s12 m6">
  		<div class="card blue-grey darken-1">
  			<div class="card-content white-text">
  				<span class="card-title">{{careerInscription.career.name}}</span>
  				<p>{{careerInscription.careerPlan.name}}</p>
  			</div>
  			<div class="card-action waves-effect waves-light">
  				<a ng-click="selectCareer('{{careerInscription.academicUnit.id}}','{{careerInscription.career.id}}','{{careerInscription.careerPlan.id}}')" style="cursor:pointer;">Seleccionar</a>
  			</div>
  		</div>
  	</div>
  </div>
