<form ng-submit="putCoordinates(user)">
   <div class="row valign-wrapper">
      <div class="col s7">
         <input type="text" name="userstate" value="" placeholder="Actualizar estado" ng-model="user.status">
      </div>
      <div class="col s5">
         <button class="valign btn waves-effect waves-light right" type="submit" name="login">Enviar
         <i class="mdi-content-send right"></i>
         </button>
      </div>
   </div>
</form>
<div class="card">
   <div class="card-image">
      <ui-gmap-google-map center='map.center' zoom='map.zoom' options='map.options'>
         <ui-gmap-marker coords="meonmap.coords" options="meonmap.markerOptions" events="meonmap.events" idkey="meonmap.id">
            <ui-gmap-window options="windowOptions" closeClick="closeClick()">
               <div>Yo</div>
            </ui-gmap-window>
         </ui-gmap-marker>
         <ui-gmap-markers models="nearme" coords="'coords'" icon="'icon'" options="'markerOptions'" events="'events'">
            <ui-gmap-windows show="show">
               <div ng-non-bindable>{{name}}</div>
            </ui-gmap-windows>
         </ui-gmap-markers>
      </ui-gmap-google-map>
   </div>
   <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Compa&ntilde;eros cerca<i class="material-icons right">expand_less</i></span>
   </div>
   <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Compa&ntilde;eros cerca<i class="material-icons right">close</i></span>
      <table>
         <thead>
            <tr>
               <th data-field="id">Nombre</th>
               <th data-field="state">Estado</th>
            </tr>
         </thead>
         <tbody>
            <tr ng-repeat="user in nearme">
               <td>{{user.name}}</td>
               <td> {{user.status}}</td>
            </tr>
         </tbody>
      </table>
   </div>
</div>