<h5 class="header center"><i class="mdi-action-account-circle prefix"></i> Iniciar Sesi&oacute;n</h5>

<form ng-submit="login(login)">
	<p><input type="text" name="login" value="" placeholder="Username or Email" ng-model="login.username"></p>
	<p><input type="password" name="password" value="" placeholder="Password" ng-model="login.password"></p>
	<button class="btn waves-effect waves-light" type="submit" name="login">Login
		<i class="mdi-content-send right"></i>
	</button>
</form>
<div ng-show="errorMessage != null">
	{{errorMessage}}
</div>
