<h5 class="header center">Inscripciones</h5>
<ul class="collapsible" data-collapsible="accordion"  ng-show="hasInscriptions">
	<li ng-repeat="inscription in examInscriptions" ng-show="examInscriptions" class="modal-trigger" href="#exam{{inscription.subject.id}}" ng-prepare-modal>
		<div class="collapsible-header truncate">
			<i class="material-icons">done</i>
			{{inscription.subject.name}}
		</div>
	</li>

	<li ng-repeat="inscription in subjectInscriptions" ng-show="subjectInscriptions" class="modal-trigger" href="#sub{{inscription.subject.id}}" ng-prepare-modal>
		<div class="collapsible-header truncate">
			<i class="material-icons">assignment</i>
			{{inscription.subject.name}}
		</div>
	</li>
</ul>

<!-- Modal Structure -->
<div ng-repeat="inscription in examInscriptions" id="exam{{inscription.subject.id}}" class="modal modal-fixed-footer" ng-prepare-modal>
	<div class="modal-content">
		<h4>{{inscription.subject.name}} ({{inscription.subject.id}})</h4>
		<p>Inscripci&oacute;n: {{inscription.date}}</p>
		<p>Examen: {{inscription.variant.date}}</p>
	</div>
	<div class="modal-footer">
		<a class="modal-action modal-close waves-effect waves-green btn-flat ">Listo</a>
		<a class="waves-effect waves-green btn-flat modal-trigger" href="#del{{inscription.id}}">Borrar</a>
	</div>
</div>

<!-- Modal Structure -->
<div ng-repeat="inscription in subjectInscriptions" id="sub{{inscription.subject.id}}" class="modal modal-fixed-footer" ng-prepare-modal>
	<div class="modal-content">
		<h4>{{inscription.subject.name}} ({{inscription.subject.id}})</h4>
		<p>Inscripci&oacute;n: {{inscription.date}}</p>
		<p>Inicio: {{inscription.variant.date}}</p>
	</div>
	<div class="modal-footer">
		<a class="modal-action modal-close waves-effect waves-green btn-flat ">Listo</a>
		<a class="waves-effect waves-green btn-flat modal-trigger" href="#del{{inscription.id}}">Borrar</a>
	</div>
</div>

<!-- Modal Structure -->
<div ng-repeat="inscription in examInscriptions" id="del{{inscription.id}}" class="modal modal-fixed-footer">
	<div class="modal-content">
		<h4>{{inscription.subject.name}} ({{inscription.subject.id}})</h4>
		<p>¿Desea borrar la inscripci&oacute;n?</p>
	</div>
	<div class="modal-footer">
		<a class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="closePopup('exam{{inscription.subject.id}}')">No</a>
		<a href="#/inscriptions" class="modal-action modal-close waves-effect waves-green btn-flat " ng-click="removeInscription('{{inscription.subject.id}}', '{{inscription.id}}')">Si</a>
	</div>
</div>

<!-- Modal Structure -->
<div ng-repeat="inscription in subjectInscriptions" id="del{{inscription.id}}" class="modal modal-fixed-footer">
	<div class="modal-content">
		<h4>{{inscription.subject.name}} ({{inscription.subject.id}})</h4>
		<p>¿Desea borrar la inscripci&oacute;n?</p>
	</div>
	<div class="modal-footer">
		<a class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="closePopup('sub{{inscription.subject.id}}')">No</a>
		<a href="#/inscriptions" class="modal-action modal-close waves-effect waves-green btn-flat " ng-click="removeInscription('{{inscription.subject.id}}', '{{inscription.id}}')">Si</a>
	</div>
</div>

<ul class="collection" ng-show="!hasInscriptions">
	<li class="collection-item"><div>No hay inscripciones para mostrar<a href="#!" class="secondary-content"><i class="material-icons">warning</i></a></div></li>
</ul>