<h5 class="header center">Materias Disponibles</h5>

<ul class="collapsible" data-collapsible="accordion" ng-show="availableSubjects.length">
	<li ng-repeat="subject in availableSubjects" ng-collapsible ng-prepare-modal>
		<div class="collapsible-header truncate" >{{subject.name}}</div>
		<div class="collapsible-body">
			<span ng-repeat="variant in subject.subjectInscriptionVariants">
				<a  class="waves-effect waves-light btn fullwidth modal-trigger" href="#modal{{subject.id}}">Comisi&oacute;n: {{variant.date}}</a>
				<!-- Modal Structure -->
				<div id="modal{{subject.id}}" class="modal modal-fixed-footer">
					<div class="modal-content">
						<h4>Nueva inscripci&oacute;n a {{subject.name}}</h4>
						<p>¿Est&aacute; seguro de continuar?</p>
					</div>
					<div class="modal-footer">
						<a href="#/subinscription" class="modal-action modal-close waves-effect waves-green btn-flat ">No</a>
						<a href="#/subinscription" class="modal-action modal-close waves-effect waves-green btn-flat " ng-click="addInscription('{{subject.id}}', '{{variant.id}}')">Si</a>
					</div>
				</div>
			</span>
		</div>
	</li>
</ul>

<ul class="collection" ng-show="!availableSubjects.length">
	<li class="collection-item"><div>No hay materias que cumplan los requisitos para inscribirse<a href="#!" class="secondary-content"><i class="material-icons">warning</i></a></div></li>
</ul>